<div class='px-6 py-10 sm:py-36 flex flex-col items-center' id='ventajas'>
  <p class='text-center text-white text-3xl font-bold'>Siente la diferencia</p>
  <p class='text-center text-secondary py-6'>
    Suscribete y disfruta del control total de lo que escuchas. Cancelas cuando
    quieras.
  </p>

  <div>
    <h2 class='mb-2 font-semibold text-2xl text-center text-white'>
      Que incluye
    </h2>
    <ul
      class='max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400'>
      <li>Escucha tu música favorita sin anuncios</li>
      <li class='text-pretty'>Descarga de canciones para oir sin conexión</li>
      <li>Escucha canciones en cualquier orden</li>
      <li>Calidad del audio alta</li>
      <li>Organiza la cola de reproducción</li>
    </ul>
  </div>
</div>
