<div class='hero py-10 sm:py-16'>
  <div class='hero-content flex-col lg:flex-row-reverse'>
    <img
      src='https://pbs.twimg.com/media/EXIApaJUEAA0GtT?format=jpg&name=large'
      class='max-w-xs sm:max-w-lg sm:h-96 rounded-lg shadow-2xl'
    />
    <div>
      <h1
        class='text-4xl sm:text-5xl font-bold text-center sm:text-start text-white text-balance'>
        Explora Tu Música y Podcasts Favoritos
      </h1>
      <p class='py-6 text-secondary text-balance text-center sm:text-start'>
        Disfruta de una experiencia de streaming personalizada según tu estado
        de ánimo, tus gustos y tus hábitos de escucha. Accede a millones de
        canciones y episodios, crea y comparte tus listas, y descubre contenido
        exclusivo de tus artistas favoritos.
      </p>
      <div class='flex flex-row gap-5 justify-center sm:justify-start'>
        <a href='payment' class='btn btn-primary'>Prueba gratis por 1 mes</a>
        <a href='/#planes' class='btn btn-neutral text-white'>Ver planes</a>
      </div>
      <p class='mt-7 text-xs text-balance sm:w-8/12 text-center sm:text-start'>
        Gratis durante 3 mes. Luego de suscribirte por 1 año.
      </p>
    </div>
  </div>
</div>
